footer{
    border-top: 1px solid rgb(150, 150, 150);
    margin-top: 20px;
    padding: 10px 0;
    
}

footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0.5;
}

footer a img{
    width: 20px;
    margin-right: 5px;
}

footer a p{
    color: black;
}

footer a:hover{
    transition: 0.5s;
    opacity: 1;
}