@import url("nav.css");
@import url("footer.css");

/* RESET CSS */
*{
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }


/* APRESENTAÇÃO */
.apresentacao{
    padding: 0 10px;
    text-align: center;
}

.apresentacao h1{
    font-size: 2.5em;
    margin: 20px auto;
}

.apresentacao img{
    border-style: ridge;
    border-radius: 50%;
    width: 90%;
}

/* SOBRE */
.sobre{
    padding: 0 10px;
    max-width: 600px;
    margin: 0 auto;
}

.sobre p{
    padding: 10px;
}

@media (min-width: 340px){
    .apresentacao img{
        width: 300px;
    }
}